<!DOCTYPE html>
<html lang="en">
<head>
    <style>
      #compass{
        width:100%;
        transform-origin: 50% 50%;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
      }
        .utility .utility_icon {
            width: 100%;
        }
    </style>
        <script>
      function init() {
        var compass = document.getElementById('compass');
        if(window.DeviceOrientationEvent) {

          window.addEventListener('deviceorientation', function(event) {
                var alpha;
                //Check for iOS property
                if(event.webkitCompassHeading) {
                  alpha = event.webkitCompassHeading + {{ direction }};
                  //Rotation is reversed for iOS
                  compass.style.WebkitTransform = 'rotate(-' + alpha + 'deg)';
                }
                //non iOS
                else {
                  alpha = event.alpha + {{ direction }};
                  webkitAlpha = alpha;
                  if(!window.chrome) {
                    //Assume Android stock (this is crude, but good enough for our example) and apply offset
                    webkitAlpha = alpha-270;
                  }
                }

                compass.style.Transform = 'rotate(' + alpha + 'deg)';
                compass.style.WebkitTransform = 'rotate('+ webkitAlpha + 'deg)';
                //Rotation is reversed for FF
                compass.style.MozTransform = 'rotate(-' + alpha + 'deg)';
              }, false);
        }
      }
    </script>
    <meta charset="UTF-8">
    <title></title>
</head>
  <body onload="init()" style="background:  url('/static/{{ utility }}.png') no-repeat center center fixed; background-size: cover;">
  <div style="font-family: Helvetica Neue, Helvetica, Segoe UI, Arial, freesans, sans-serif; font-size: large; text-align: center;">
      You are currently at {{ current_location }}.
      <br>
      The direction of the nearest {{ utility }} is pointed below.
  </div>
    <div id="compassContainer">
      <img src="{{ url_for("static", filename="compass.png") }}" id="compass"/>
    </div>

    <div class="utility">
        </div>

</body>
</html>